@import url('https://fonts.googleapis.com/css?family=B612+Mono|Noto+Sans+SC|Russo+One&display=swap');

* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #3c3f41;
  color: #87939a;
  font-family: 'Noto Sans SC', sans-serif;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 160px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 a {
  color: #a5c261;
  font-family: 'Russo One', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
}

h1 a:hover {
  animation: wiggle 1s;
  display: inline-block;
}

h1 em {
  font-size: 15px;
  margin-left: 10px;
  opacity: 0.5;
}

h2 {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.1);
}

ul {
  margin-top: -50px;
  padding: 0 25px 25px;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  border: 2px solid #3e86a0;
  border-left-width: 10px;
  border-radius: 0;
  box-shadow: inset 0 0 0 0 #3e86a0;
  color: #e0e0e0;
  display: inline-block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 21px 10px 12px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.1);
  transition: ease-out background-color 0.4s;
}

ul li a:hover {
  background-color: #3e86a0;
}

div.label {
  display: block;
}

div.loaded {
  color: #5c96ba;
}

div.loading {
  color: #cbbe55;
}

div.error {
  color: #b74843;
}

h1,
h2,
div.label {
  background-color: #3c3f41;
  left: 0;
  position: fixed;
  right: 0;
}

h1 {
  height: 50px;
  padding: 10px 15px 0;
  top: 0;
  z-index: 3;
}

h2 {
  height: 40px;
  padding: 0 25px;
  top: 60px;
  z-index: 2;
}

div.label {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 40px;
  padding: 0 25px;
  top: 100px;
  z-index: 1;
}

pre {
  color: #e0e0e0;
  font-family: 'B612 Mono', monospace;
  padding: 0 25px 25px;
  white-space: pre;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1deg);
  }

  15% {
    transform: rotate(-1deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
